@mixin tag-sizing {
  padding: 0.2rem;
  margin: 0.5rem;
  width: 10rem;
  background-color: white;
  border-radius: 5px;
  box-shadow:
    3px 3px 0px 0px rgba($border-shade,0.8),
    0px 0px 0px 1px $border-shade;
}
