$background:white;
$background-color:#fdfbfc;
$detailBar: blue;
$border-shade: #6d7777;
$calendar-color: #abfdfd;
$alert: #fdfdab;
$nintendo-shadow:
0 2px 2px 0 rgba($border-shade,.14),0 3px 1px -2px rgba($border-shade,.2),0 1px 5px 0 rgba($border-shade,.12),
0px 0px 0px 0.5px rgba($border-shade,.3);
