.dog{
  &.tag,&.form{
    color:black;
    // flex: 1;
    padding: 0.2rem;
    margin: 0.5rem;
    // flex-basis: 10rem;
    width: 10rem;
    background-color: white;
    border-radius: 5px;
    border: solid 1px black;
    text-align: center;
  }

  .thumb-image{
    // background-color: black;
    display: flex;
    // width: 100%;
    align-items: center;
    justify-content: space-around;
    img{
      padding: 4px;
      background-color: black;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
    }

  }

  .bar{
    height: 8rem;
    flex: 0 0 100%;
    background-color:$detailBar;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    .backgrounded{
      // position:
    }
    h1{
      padding-left: 1rem;
    }
  }
  .specs{
    height: calc(100% - 8rem);
    flex: 2
  }

  .calendar{
    height: calc(100% - 8rem);
    flex: 1
  }
  nav{
    width: 100%;
    background-color: $detailBar;
    flex: 0 0 100%;
  }

}

.content.dog{
  flex-flow: row wrap !important;
  align-items: flex-start;
  align-content: flex-start;
}
