.dog{
  &.tag,&.form{
    color:black;
    // flex: 1;
    padding: 0.2rem;
    margin: 0.5rem;
    // flex-basis: 10rem;
    width: 10rem;
    background-color: white;
    border-radius: 5px;
    // border: solid 1px black;
    text-align: center;
    box-shadow:
      3px 4px 0px 0px rgba($border-shade,0.8),
      0px 0px 0px 1px $border-shade;
  }

  .thumb-image{
    // background-color: black;
    display: flex;
    // width: 100%;
    margin: 10px;
    align-items: center;
    justify-content: space-around;
    img{

      margin-top: 5px;
      // background-color: $border-shade;
      box-shadow: 0 0 0 3px $border-shade;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
    }

  }

  .bar{
    // height: 8rem;
    flex: 0 0 100%;
    background-color: $background-color;
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMTAwJyBoZWlnaHQ9JzUwJz4KCTxkZWZzPgoJCTxnIGlkPSdsaW5lcyc+CgkJCTxsaW5lIHgxPScwJyB5MT0nMCcgeDI9JzIwJyB5Mj0nMjUnIHN0cm9rZS13aWR0aD0nMScgc3Ryb2tlPScjZWFlYWVhJy8+CgkJCTxsaW5lIHgxPScxNScgeTE9JzAnIHgyPSczNScgeTI9JzI1JyBzdHJva2Utd2lkdGg9JzEnIHN0cm9rZT0nI2VjZWNlYycvPgoJCQk8bGluZSB4MT0nMzAnIHkxPScwJyB4Mj0nNTAnIHkyPScyNScgc3Ryb2tlLXdpZHRoPScxJyBzdHJva2U9JyNlY2U0ZTQnLz4KCQk8L2c+Cgk8L2RlZnM+Cgk8cmVjdCB4PSctMTAlJyB5PSctMTAlJyB3aWR0aD0nMTIwJScgaGVpZ2h0PScxMjAlJyBmaWxsPScjZmRmYmZjJy8+Cgk8dXNlIHhsaW5rOmhyZWY9JyNsaW5lcycgeD0nNTAnIHk9JzI1JyAvPgoJPHVzZSB4bGluazpocmVmPScjbGluZXMnIHg9JzUwJyB5PSctMjUnIHRyYW5zZm9ybT0nbWF0cml4KDEgMCAwIC0xIDAgMCknLz4KCTx1c2UgeGxpbms6aHJlZj0nI2xpbmVzJyAgLz4KCTx1c2UgeGxpbms6aHJlZj0nI2xpbmVzJyB4PScwJyB5PSctNTAnIHRyYW5zZm9ybT0nbWF0cml4KDEgMCAwIC0xIDAgMCknLz4gIAo8L3N2Zz4=);
    flex-flow: wrap row;
    display: flex;
    align-items: center;
    box-shadow:
      0px 0px 0px 1px darken($background-color, 10);
    h1{
      padding-left: 1rem;
    }
    nav{
      flex: 0 0 100%;
    }
  }
  .specs{
    height: calc(100% - 8rem);
    flex: 2
  }

  .calendar{
    height: calc(100% - 8rem);
    flex: 1
  }
  // nav{
  //   width: 100%;
  //   background-color: $detailBar;
  //   flex: 0 0 100%;
  // }

}

.content.dog{
  flex-flow: row wrap !important;
  align-items: flex-start;
  align-content: flex-start;
}
