.content{
  .sidebar{
    // background-color: green;
    order:3;
    flex: 1 auto;
  }

  .dogs{
    // padding-top: 9rem;
    background-color: brown;
    order: 2;
    flex: 8 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: scroll;
    #add{
      background: pink;
      // flex: 1;
      @include tag-sizing();
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: space-around;
    }
  }

  .add{
    background: white;
  }
}


.modal{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-around;
  background-color: rgba(gray, 0.7);
  left: 0;
  right: 0;
  top: 0;
  border-bottom: 0;
  position: absolute;
  &.hidden{
    display:none;
  }
  .modal-content{
    background-color: $background;
    padding: 0.5rem;
    form{

    }
  }
}
