.content{
  .sidebar{
    // background-color: green;
    order:3;
    flex: 6;
  }

  .dogs{
    // padding-top: 9rem;
    // background-color: brown;
    order: 2;
    flex: 10;
    display: flex;
    flex-flow: row wrap;
    // justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    overflow-y: auto;
    #add{
      background: pink;
      // flex: 1;
      @include tag-sizing();
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: space-around;
    }
  }

  .add{
    background: white;

  }
}
